@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900);
a{outline:0 !important;}
.no-pad{padding:0;}
.no-pad-lt{padding-left:0;}
.no-pad-rt{padding-right:0;}
/*=================HEADER===================*/
.navbar-inverse{background:#e42127;border-color:#e42127;}
.navbar{min-height:72px;}
.navbar-brand{padding:5px 15px; min-height:50px;}
.nav.navbar-nav.navbar-right li{border-right:1px solid #f8393f; height:72px;}
.nav.navbar-nav.navbar-right li:last-child{border-right:0;}

.logout{color:#fff; text-decoration:none; font-family: 'Roboto', sans-serif; font-size:12px; font-weight:normal; text-transform:uppercase; display:block; float:left; padding:25px 0 0 40px;}
.logout:hover{text-decoration:none; color:#fff;}

/*===============SUBSCRIPTIONS PLANS==================*/
/*------------HEADER------------------*/
header{padding-top:108px;}

/*------EDIT PROFILE---------*/
.edit-profile{background:#fff; border:1px solid #d8d8d8; border-radius:5px; padding:18px 15px;}
.edit-profile img{float:left; margin-right:25px;}
.edit-profile p{font-family: 'Roboto', sans-serif; font-size:19px; color:#e42127; font-weight:normal;}
.edit-profile h6{font-family: 'Roboto', sans-serif; font-size:12px; color:#606060; font-weight:normal;}

/*------CURRENT/ACTIVE SUBSCRIPTION---------*/
.current-sub{background:#6d9ce5; border:1px solid #d8d8d8; border-radius:5px; padding:18px 0 18px 15px; margin:15px 0;}
.current-sub img{float:left; margin-top:18px;}
.current-sub p{font-family: 'Roboto', sans-serif; font-size:14px; color:#fff; font-weight:normal; text-align:center;}
.current-sub h4{font-family: 'Roboto', sans-serif; font-size:13px; color:#213e6c; font-weight:bold; text-transform:uppercase; text-align:center;}
.current-sub h5{font-family: 'Roboto', sans-serif; font-size:12px; color:#e42127; font-weight:bold; text-transform:uppercase; text-align:center;}
.current-sub a{font-family: 'Roboto', sans-serif; font-size:11px; color:#fff; font-weight:normal; text-decoration:none; text-align:center; display:block;}

/*--------Accordian--------*/
.lt-col .accordion {width: 100%; background:#fff; border:1px solid #d8d8d8; border-radius:5px;}
.lt-col .accordion .accordion-head {color: #000; border-bottom: 1px solid #f5f5f5; position: relative; padding: 13px; font-size: 0.87em; cursor: pointer;  overflow: hidden;}
.lt-col .accordion .accordion-head span{width:50px; display:block; float:left;}
.lt-col .accordion .accordion-head a, .lt-col .accordion .accordion-head p{font-family: 'Roboto', sans-serif; font-size:14px; color:#222222; font-weight:normal; text-decoration:none; padding-left:70px; padding-top:12px; float:left; display:block; }
.lt-col .accordion .accordion-head:hover a{color:#f71c23;}
.lt-col .accordion .accordion-head * {  cursor: pointer;}
.lt-col .accordion .accordion-body {border-bottom: 1px solid #f5f5f5; padding: 20px; height: auto; display: none;}
.lt-col .arrow {float: left; width: 0px; height: 0px; margin-top: 23px; border: 10px solid transparent; margin-top: 17px; border-top-color: #000;}
.lt-col .accordion-head.open .arrow {margin-top: 7px; border-bottom-color: #000; border-top-color: transparent;}
.lt-col .arrow{margin-left:20px;}
.lt-col .close{opacity:1;}
.lt-col .accordion .accordion-body ul{margin:0; padding:0;}
.lt-col .accordion .accordion-body ul li{list-style:none; width:100%; border-bottom: 1px solid #f5f5f5; padding-left:30px;}
.lt-col .accordion .accordion-body ul li:before{content:"\203A"; font-size:32px; color:#2f2f2f;font-family: 'Roboto', sans-serif; font-weight:normal; position:relative; top:5px; padding-right:15px;}
.lt-col .accordion .accordion-body ul li a{font-family: 'Roboto', sans-serif; font-size:14px; color:#222222; font-weight:normal; text-decoration:none; padding:15px 0; display:inline-block;}
.lt-col .accordion .accordion-body ul li.current{background:#eaeef3;}
.lt-col .accordion .accordion-body ul li.current a{color:#e42127;}
.lt-col .accordion .active a{color:#f71c23;}

/*------------------------MAIN CONTAINER-------------------------------*/
.main-container{border:1px solid #d8d8d8; border-radius:5px; min-height:787px;}
.main-container h2{font-family: 'Roboto', sans-serif; font-size:20px; color:#393939; font-weight:bold; text-align:center; text-transform:uppercase; margin:60px auto 40px;}
.subscr-pg .blk .blk-inr{background:#f9fafa; text-align:center; border:1px solid #d8d8d8; border-radius:5px; padding-bottom:95px;}
.subscr-pg .blk .blk-inr img{margin:12px auto;}
.subscr-pg .blk .blk-inr h5{font-family: 'Roboto', sans-serif; font-size:14px; color:#393939; font-weight:500; text-transform:uppercase;}
.subscr-pg .blk .blk-inr h6{font-family: 'Roboto', sans-serif; font-size:14px; color:#4581df; font-weight:500; text-transform:capitalize; margin:24px 0;}
.subscr-pg .blk .blk-inr p{font-family: 'Roboto', sans-serif; font-size:14px; color:#363636; font-weight:normal; text-transform:capitalize;}
    
/*=========================== ADD SUBSCRIPTION=====================*/
.add-subscr-pg .blk{margin:0 0 48px 0;}
.add-subscr-pg .blk .blk-inr{background:#f9fafa; text-align:center; border:1px solid #d8d8d8; border-radius:5px; padding-bottom:25px;}
.add-subscr-pg .blk .blk-inr img{margin:12px auto;}
.add-subscr-pg .blk .blk-inr h5{font-family: 'Roboto', sans-serif; font-size:14px; color:#393939; font-weight:500; text-transform:uppercase;}
.add-subscr-pg .blk .blk-inr h6{font-family: 'Roboto', sans-serif; font-size:14px; color:#4581df; font-weight:500; text-transform:capitalize;}
.add-subscr-pg .blk .blk-inr p{font-family: 'Roboto', sans-serif; font-size:14px; color:#363636; font-weight:normal; text-transform:capitalize;}
.add-subscr-pg .blk .blk-inr a{display:block; font-style:italic; color:#09439d; font-family: 'Roboto', sans-serif; font-size:11px; }
.add-subscr-pg .blk .blk-inr .btn{background:#6d9ce5; border:1px solid #6d9ce5; font-family: 'Roboto', sans-serif; font-size:14px; color:#fff; font-weight:normal; padding:5px 40px; margin:30px 0 0 0;  }

/*=======================LOGIN PAGE=========================*/
.login-pg{max-width:601px; width:100%; margin:60px auto 0; border:1px solid #e8e8e8; border-radius:5px; background:#f9f9f9;}
.login-pg .center-logo{padding:40px 0;}
.login-pg .center-logo img{margin:0 auto;}

.login-pg h2{text-align:center; margin:0 0 40px 0; font-family: 'Roboto', sans-serif; font-size:25px; color:#115dd6; font-weight:normal;}
.login-pg .lgn-frm{max-width:354px; margin:0 auto; width:100%;}
.login-pg .phn-no{background:url(../images/lgn-phn-icon.png) no-repeat 2px center; min-width:13px; min-height:14px; padding-left:110px !important;}
.login-pg .pin-code{background:url(../images/lgn-pin-icon.png) no-repeat 2px center; min-width:13px; min-height:14px;}
.login-pg .form-control{border:0; border-bottom:1px solid #bdc7c8; box-shadow:none; border-radius:0; padding-left:65px; margin-top:25px; font-family: 'Roboto', sans-serif; font-size:16px; color:#6d6d6d; font-weight:normal;}
.login-pg .lgn-frm p{text-align:center;}
.login-pg .lgn-frm a{text-decoration:none; font-style:italic;}
.login-pg .btn{background:#115dd6; border-color:#115dd6; max-width:324px; width:100%; margin:44px auto; display:block; font-family: 'Roboto', sans-serif; font-size:18px; color:#fff; font-weight:normal;}
.drp-bx{position:relative; top:50px; left:30px; width:60px;}

.drp-bx .sel-fld { padding: 0 10px 0 0;  margin: 0; border:none; border-radius: 1px; overflow: hidden; background-color: #fff; 
    background:url(../images/arrow-head.png) no-repeat right center; font-family: 'Roboto', sans-serif; font-size:15px; color:#6d6d6d; font-weight:normal;}
.drp-bx select {padding: 5px 8px; border: none; box-shadow: none; background-color: transparent; background-image: none; -webkit-appearance: none; -moz-appearance: none; appearance: none;}
.drp-bx select:focus { outline: none;}

/*==========================REGISTRATION FIRST PAGE=========================*/
.reg-pg1-first .reg-hdr-bg{background:url(../images/registration1-bg.jpg) no-repeat center top; background-size:100% 100%; width:100%; min-height:474px; position:relative; background-size:cover;}
.reg-pg1-first .logo{position:relative; }
.reg-pg1-first .logo img{ margin:0 auto; position:relative; top:100px;}
.reg-pg1-first h2{text-align:center; margin:40px 0 30px 0; font-family: 'Roboto', sans-serif; font-size:25px; color:#115dd6; font-weight:normal;}
.reg-pg1-first h4{font-family: 'Roboto', sans-serif; font-size:21px; color:#222222; font-weight:normal; text-align:center;}
.reg-pg1-first .form-group{max-width:270px; width:100%; margin:25px auto;}
.reg-pg1-first .input-group-addon:first-child{background:none; padding:0; border:0;}
.reg-pg1-first .sel-bx{height:32px;}
.reg-pg1-first .reg-cnt{margin:0 auto; width:100%;}
.reg-pg1-first .reg-cnt p{font-family: 'Roboto', sans-serif; font-size:14px; color:#222222; font-weight:normal; text-align:center; margin:0;}
.reg-pg1-first .reg-cnt .btn{background:#115dd6; border-color:#115dd6; max-width:324px; width:100%; margin:40px auto 82px; display:block; font-family: 'Roboto', sans-serif; font-size:18px; color:#fff; font-weight:normal;}

/*=======================REGISTRATION SECOND PAGE======================*/
.reg-pg2{max-width:601px; width:100%; margin:0 auto;}
.reg-pg2 h2{text-align:center; margin:40px 0 30px 0; font-family: 'Roboto', sans-serif; font-size:25px; color:#115dd6; font-weight:normal;}
.reg-pg2 .reg2-cnt{background:#f9f9f9; padding:30px 0;}
.reg-pg2 .reg2-cnt .verfied{background:#f9f9f9 url(../images/verified.png) no-repeat 80% center; min-width:13px; min-height:14px; height:41px; font-family: 'Roboto', sans-serif; font-size:16px; color:#6d6d6d; font-weight:normal; margin-top:15px;}
.reg-pg2 .reg2-cnt .form-group{max-width:355px; width:100%; margin:0 auto;}
.reg-pg2 .reg2-cnt h4{font-family: 'Roboto', sans-serif; font-size:21px; color:#222222; font-weight:normal; text-align:center;}
.reg-pg2 .reg2-cnt p{font-family: 'Roboto', sans-serif; font-size:11px; color:#383838; font-weight:normal; text-align:center; margin-top:10px;}
.reg-pg2 .reg2-cnt p > a {color:#115dd6; font-style:normal; text-decoration:none;}
.reg-pg2 .reg2-cnt .or{display:block; font-family: 'Roboto', sans-serif; font-size:20px; color:#e42127; font-weight:normal; text-align:center; padding-top:30px;}
.reg-pg2 .reg2-cnt .full-name{background:url(../images/user-icon.png) no-repeat 2px center; min-width:13px; min-height:14px;}
.reg-pg2 .reg2-cnt .email-adr{background:url(../images/email-icon.png) no-repeat 2px center; min-width:13px; min-height:14px;}
.reg-pg2 .reg2-cnt .sel-ques{background:url(../images/question-icon.png) no-repeat 10px center; min-width:13px; min-height:14px; padding-left:65px; margin-top:25px; font-family: 'Roboto', sans-serif; font-size:16px; color:#6d6d6d; font-weight:normal;}
.reg-pg2 .reg2-cnt .age{background:url(../images/age-icon.png) no-repeat 2px center; min-width:13px; min-height:14px;}
.reg-pg2 .reg2-cnt .gndr{background:url(../images/gender-icon.png) no-repeat 2px center; min-width:13px; min-height:14px;}
.reg-pg2 .reg2-cnt .ans{background:#f9f9f9;}
.reg-pg2 .reg2-cnt .bx{border:0; border-bottom:1px solid #bdc7c8; box-shadow:none; border-radius:0; padding-left:65px; margin-top:25px; font-family: 'Roboto', sans-serif; font-size:16px; color:#6d6d6d; font-weight:normal;}
.reg-pg2 .reg2-cnt .fb-btn, .reg-pg2 .reg2-cnt .twitter-btn{background:#eff0f0; padding:8px 20px; display:block; text-align:left; max-width:306px; width:100%; margin:15px auto;}
.reg-pg2 .reg2-cnt .desired-pin{border:0; border-bottom:1px solid #bdc7c8; box-shadow:none; border-radius:0; text-align:center; margin-top:25px; font-family: 'Roboto', sans-serif; font-size:16px; color:#6d6d6d; font-weight:normal; background:url(../images/lgn-pin-icon.png) no-repeat 35px center; min-width:13px; min-height:14px;}
.reg-pg2 .reg2-cnt .btn{background:#115dd6; border-color:#115dd6; max-width:324px; width:100%; margin:40px auto 0; display:block; font-family: 'Roboto', sans-serif; font-size:18px; color:#fff; font-weight:normal;}

/*=============================CONSULT A DOCTOR PAGE===============================*/
.consult-pg .cnt-blk .txt-area{ resize:none;  min-height:107px; font-family: 'Roboto', sans-serif; font-size:13px; color:#838383; font-weight:normal; margin:0 0 32px 0;}
.consult-pg p{font-family: 'Roboto', sans-serif; font-size:15px; color:#393939; font-weight:normal; text-align:center;}
.consult-pg .cnt-blk .form-control{background:#ebeef1; border-radius:2px;}
.consult-pg .cnt-blk .chrg-opt{padding:82px 0 0 0;}
.consult-pg .cnt-blk .chrg-opt ul{margin:0; padding:0;}
.consult-pg .cnt-blk .chrg-opt ul li{margin:0; list-style:none; text-align:center;}
.consult-pg .cnt-blk .chrg-opt ul li span{display:block; background:#ebeef1; width:85px; height:85px; border-radius:100%; margin:0 auto 8px;}
.consult-pg .cnt-blk .chrg-opt ul li span > img {padding-top:22px;}
.consult-pg .cnt-blk .chrg-opt ul li span.payg img{padding-top:14px;}
.consult-pg .cnt-blk .chrg-opt ul li a{font-family: 'Roboto', sans-serif; font-size:13px; color:#3a3a3a; font-weight:normal; text-align:center; text-decoration:none;}
.consult-pg .cnt-blk .chrg-opt p{margin-bottom:42px;}
.consult-pg .cnt-blk .form-control.selectpicker > option{padding:5px 10px;}

/*====================================CONSULTATION HISTORY PAGE=================================*/
.consultation-history {background:#consultation-history;}
.consultation-history h2{font-family: 'Roboto', sans-serif; font-size:20px; color:#393939; font-weight:bold; text-transform:uppercase;}
.consultation-history h6{font-family: 'Roboto', sans-serif; font-size:13px; color:#424242; font-weight:normal; display:block; padding:0 15px;}
.con-hist-frm{margin-bottom:30px; padding:}
.consultation-history .doc{border:1px solid #f1f1f1; background:#f9fafc; border-radius:5px; margin:0 15px 15px 15px;}
.consultation-history .doc ul{margin:0; padding:0;}
.consultation-history .doc ul li{list-style:none; margin:0; border-bottom:1px solid #e7e7e7; font-family: 'Roboto', sans-serif; font-size:13px; color:#6d6d6d; font-weight:normal; padding:10px 25px; }
.consultation-history .doc ul li i{color:#568bde; width:20px; display:block; float:left;}
.consultation-history .doc ul li p{padding:10px 0 0 0;}
.consultation-history .doc ul li span{float:right; color:#568bde;}
.consultation-history .doc ul li a{font-style:italic; font-family: 'Roboto', sans-serif; font-size:13px; color:#e42127; font-weight:normal; display:block; text-align:right; padding:10px 0 0 0; text-decoration:none;}
.consultation-history .cnt-blk .input-group-addon{background:none; border:0;}
.consultation-history .cnt-blk .form-control{background:#f6f6f7; border-radius:1px;}

/*==========================DESIRED SPECIALIST PAGE==============================*/
.desired-spec h6{font-family: 'Roboto', sans-serif; font-size:13px; color:#424242; font-weight:normal; display:block; padding:0 15px;}
.desired-spec .cnt-blk .input-group-addon{background:none; border:0;}
.desired-spec .cnt-blk .select-style { padding: 0;  margin: 0; width: 100%; border:1PX solid #f0f0f0; border-radius: 1px; overflow: hidden; background-color: #fff;
    background:#f6f6f7 url(../images/arrow-head.png) no-repeat 96% 13px;}
.desired-spec .cnt-blk .select-style select {padding: 5px 8px; width: 100%; border: none; box-shadow: none; background-color: transparent; background-image: none;    -webkit-appearance: none; -moz-appearance: none; appearance: none;}
.desired-spec .cnt-blk .select-style select:focus { outline: none;}
.desired-spec .cnt-blk .dr-details ul{margin:0; padding:0;}
.desired-spec .cnt-blk .dr-details ul li{margin:10px 0; background:#f7f8fb; list-style:none; padding:10px 0;}
.desired-spec .cnt-blk .dr-details ul li h4{font-family: 'Roboto', sans-serif; font-size:13px; color:#6e9de6; font-weight:normal; margin:0 0 7px 0;}
.desired-spec .cnt-blk .dr-details ul li p{font-family: 'Roboto', sans-serif; font-size:13px; color:#6a6a6a; font-weight:normal;}
.desired-spec .cnt-blk .dr-details ul li h6{font-family: 'Roboto', sans-serif; font-size:11px; color:#6e9de6; font-weight:normal; padding:0;}

/*=========================DONATION=========================*/
.mk-donation h2{font-family: 'Roboto', sans-serif; font-size:20px; color:#393939; font-weight:bold; text-transform:uppercase;}
.mk-donation p{font-family: 'Roboto', sans-serif; font-size:14px; color:#525252; font-weight:normal; display:block; padding:0 15px; margin:10px 0 40px 0;}
.mk-donation .donation-frm{max-width:360px; margin:0 auto;}
.mk-donation .form-control{border-radius:1px; height:42px;}
.mk-donation .donate-amnt{background:#ececec url(../images/N.png) no-repeat 10px center; min-width:13px; min-height:15px; padding-left:50px;}
.mk-donation .btn{background:#6e9de6 url(../images/heart-icon.png) no-repeat 25px center; font-family: 'Roboto', sans-serif; font-size:14px; color:#fff; font-weight:normal; border:1px solid #6e9de6; margin:10px 0 0 0;}

/*==========================MEDICAL HISTORY===================*/
.updt-del .nav li a{font-family: 'Roboto', sans-serif; font-size:13px; color:#393939; font-weight:normal;}
.updt-del .nav li.active a{color:#e42127; background:#f9fafa;}
.updt-del .tab-content ul{padding:0; clear:both;}
.updt-del .tab-content li{ list-style:none; margin:7px 0; padding:20px 15px 15px 25px; }
.updt-del .tab-content li p{font-family: 'Roboto', sans-serif; font-size:12px; color:#393939; font-weight:normal;}
.updt-del .tab-content li a{text-decoration:none;}
.updt-del .tab-content li a.edit{font-family: 'Roboto', sans-serif; font-size:11px; color:#393939; font-weight:normal;}
.updt-del .tab-content li a.delete{font-family: 'Roboto', sans-serif; font-size:11px; color:#e42127; font-weight:normal; margin:0 20px;}
.updt-del .tab-content .add{font-family: 'Roboto', sans-serif; font-size:11px; background:#115dd6; font-weight:normal; padding:5px 25px; color:#fff; border:0; margin:10px 0; float:right;}
.updt-del .tab-content .add:hover{box-shadow:0px 0px 2px 1px #0548b3;}
.updt-del .tab-content .upd-btn{margin:25px 0 0 0;}

.updt-del thead{font-weight:600;}
.updt-del .tab-content .upld-frm ul{padding:0; margin:10px 0 0 0;}
.updt-del .tab-content .upld-frm ul li{margin:0; padding:15px 20px; list-style:none; display:inline-block; position:relative;}
.updt-del .tab-content .upld-frm ul li i.close{position:absolute; top:0px; right:7px; z-index:3;}

/*=====================TRANSACTIONS PAGE========================*/
.transaction-frm h2{font-family: 'Roboto', sans-serif; font-size:20px; color:#393939; font-weight:bold; text-transform:uppercase; }
.transaction-frm .btn{background:#f9fafa; border:1px solid #eaeaea; border-radius:0; font-family: 'Roboto', sans-serif; font-size:14px; color:#393939; font-weight:normal; max-width:298px; width:100%; margin:0 auto;}
.transaction-frm .btn img{position:relative; left:2%; float:left;}
.transaction-frm .tran-btn a{ min-height:54px; padding:10px 0;}
.transaction-frm .tran-btn{margin:0 auto 20px;}

/*=====================TRANSACTIONS DETAILS PAGE==================*/
.trans-details table{max-width:366px; width:100%; margin:0 auto; text-align:center;}
.trans-details table td{font-family: 'Roboto', sans-serif; font-size:13px; color:#868686; font-weight:normal; padding:20px 8px 8px 8px !important;}
.trans-details table tr:nth-child(1) td{border-top:0;}
.trans-details .grnd-total td{color:#6d9ce5;}

/*====================WHEN TO PHONE======================*/
.whn-phn .calling-dctr{max-width:273px; width:100%; margin:0 auto; text-align:center;}
.whn-phn .calling-dctr span{width:50%; float:left; background:#f5f5f5; font-family: 'Roboto', sans-serif; font-size:11px; color:#393939; font-weight:normal; padding:10px 0;}
.whn-phn .calling-dctr h3{font-family: 'Roboto', sans-serif; font-size:15px; color:#393939; font-weight:normal; padding:12px 0; clear:left; margin:0;}
.whn-phn .calling-dctr img{margin:20px 0 10px 0;}
.whn-phn .calling-dctr p{font-family: 'Roboto', sans-serif; font-size:12px; color:#115dd6; font-weight:normal;}
.whn-phn .calling-dctr h5{background:#f5f5f5; font-family: 'Roboto', sans-serif; font-size:12px; color:#6e6e6e; font-weight:normal; padding:15px 0;}


@media only screen and (min-width:768px) and (max-width:3600px){
	.sm-no-pad-lt{padding-left:0;}
	.sm-no-pad-rt{padding-right:0;}
	.sm-no-pad{padding:0;}
	.sm-pad-lt{padding-left:5px;}
	.sm-pad-rt{padding-right:5px;}
	.sm-pad{padding:5px;
}

.no-pad{padding:0 !important;}

/*============================SIGN UP STEP2====================*/
.sigup-step2 h2{font-family: 'Roboto', sans-serif; font-size:25px; color:#115dd6; font-weight:normal; text-align:center;}
.sigup-step2 .sigup-step2-bx{max-width:601px; width:100%; margin:60px auto 0; border:1px solid #e8e8e8; border-radius:5px; background:#f9f9f9;}
.sigup-step2 .sigup-step2-bx .center-logo{padding:40px 0;}
.sigup-step2 .sigup-step2-bx .center-logo img{margin:0 auto;}
.sigup-step2 .sigup-step2-bx .verfied{background:#f9f9f9 url(../images/verified.png) no-repeat 80% center; min-width:13px; min-height:14px; height:41px; font-family: 'Roboto', sans-serif; font-size:16px; color:#6d6d6d; font-weight:normal; margin-top:15px;}
.sigup-step2 .sigup-step2-bx .form-group{max-width:355px; width:100%; margin:0 auto;}
.sigup-step2 .sigup-step2-bx h4{font-family: 'Roboto', sans-serif; font-size:21px; color:#222222; font-weight:normal; text-align:center;}
.sigup-step2 .sigup-step2-bx p{font-family: 'Roboto', sans-serif; font-size:11px; color:#383838; font-weight:normal; text-align:center; margin-top:10px;}
.sigup-step2 .sigup-step2-bx .btn{background:#115dd6; border-color:#115dd6; max-width:324px; width:100%; margin:30px auto; display:block; font-family: 'Roboto', sans-serif; font-size:18px; color:#fff; font-weight:normal;}

/*===========================SIGN UP STEP3=================*/
.signup-step3 .logo-center {border-bottom:1px solid #f1f1f1; display:block; padding-bottom:20px;}
.signup-step3 .logo-center img{display:block; margin:0 auto;}
.signup-step3 .step3-cnt{border:1px solid #f1f1f1;}
.signup-step3 .step3-cnt .date{margin-top:25px; }
.signup-step3 .step3-cnt .date .form-control, .signup-step3 .step3-cnt .date .input-group-addon{background:#ededed; border:0;}
.signup-step3 .step3-cnt .gndr{background:#ededed url(../images/gender-icon.png) no-repeat 5px center; min-width:13px; min-height:14px; border:0; border-radius:5px;}
.select-style { padding: 0;  margin: 0; border: 1px solid #ccc; border-right:0;width: 100%; border-radius: 5px; overflow: hidden; background-color: #fff;
    background: #fff url(images/arrowhead.png) no-repeat right -1px;}
.select-style select {padding: 5px 8px; width: 100%; border: none; box-shadow: none; background-color: transparent; background-image: none;    -webkit-appearance: none; -moz-appearance: none; appearance: none;}
.select-style select:focus { outline: none;}

/*==============SIGN UP STEP4==================*/
.signup-step4 h2{font-family: 'Roboto', sans-serif; font-size:25px; color:#115dd6; font-weight:normal; text-align:center;}
.signup-step4 .center-logo{border-bottom:1px solid #f1f1f1; display:block; padding:20px 0;}
.signup-step4 h4{font-family: 'Roboto', sans-serif; font-size:20px; color:#222222; font-weight:normal; text-align:center;}

/*=============CHANGE PASSWORD ===================*/
.change-pin h2{font-family: 'Roboto', sans-serif; font-size:25px; color:#115dd6; font-weight:normal; text-align:center;}
.change-pin .change-pwd-bx{max-width:601px; width:100%; margin:60px auto 0; border:1px solid #e8e8e8; border-radius:5px; background:#f9f9f9;}
.change-pin .change-pwd-bx .change-pin-frm{max-width:360px; margin:30px auto 80px;}
.change-pin .change-pwd-bx label{text-align:center; display:block; font-family: 'Roboto', sans-serif; font-size:20px; color:#222222; font-weight:normal;}
.change-pin .change-pwd-bx .btn{background:#115dd6; border-color:#115dd6; max-width:244px; width:100%; margin:30px auto; display:block; font-family: 'Roboto', sans-serif; font-size:18px; color:#fff; font-weight:normal;}

/*================RECOVER PIN===============*/
.recover-pin p{max-width:360px; margin:0 auto;}
.recover-pin .reg2-cnt{border:1px solid #e8e8e8; border-radius:5px;}
.recover-pin label{font-family: 'Roboto', sans-serif; font-size:16px; color:#6d6d6d; font-weight:normal; text-align:center; padding:30px 0 10px 0;}

/*=======================EDIT USER INFORMATION==================================*/
.edit-info .btn-grp{width:195px; margin:50px auto 15px;}
.edit-info .form-inline{background:#f2f2f2; padding:50px 25px 0 25px;}
.edit-info label{font-family: 'Roboto', sans-serif; font-size:13px; color:#5b5b5b; font-weight:normal; padding-right:0px;}
.edit-info .can-btn {background:#f6f6f6; border-radius:0; border:1px solid #e9e9e9; font-family: 'Roboto', sans-serif; font-size:13px; color:#5b5b5b; font-weight:normal; padding:5px 20px;}
.edit-info .upd-btn{background:#6d9ce5; border-radius:0; font-family: 'Roboto', sans-serif; font-size:13px; color:#fff; font-weight:normal; padding:5px 20px;}
.edit-info .panel-default{border:0; border-bottom:1px solid #eee;}
.edit-info .panel-default > .panel-heading{ background:#fff;}
.edit-info .panel-default > .panel-heading h4{font-family: 'Roboto', sans-serif; font-size:15px; color:#095ad8; font-weight:normal;}
.edit-info .panel-default > .panel-heading h4 >span{float:right; font-family: 'Roboto', sans-serif; font-size:13px; color:#424242; font-weight:normal;}
.edit-info .panel-default > .panel-heading h4 i{padding-left:20px;}

.edit-info .form-group{margin-bottom:15px;}
.edit-info .form-group .form-control{width:100%;}
.edit-info .radio-inline{ padding-left:40px;}
.edit-info .btn{background:#6e9de6; font-family: 'Roboto', sans-serif; font-size:14px; color:#fff; font-weight:normal; border:1px solid #6e9de6; margin:10px 0 0 0; border-radius:0; padding:5px 25px;}
.edit-info .form-group label{width:100%;}
.edit-info .form-group .dob{width:100%;}

/*-------------pop up--------------*/
.edit-box .modal-content{max-width:380px; border:1px solid #ebecef; background:#f6f7f8; padding:30px; position:absolute; top:50%; left:50%; margin-top:-50px; border-radius:5px; margin-left:-190px; width:100%;}
.edit-box .modal-footer{text-align:center; border:0;}
.edit-box .modal-header{border:0;}
.edit-box .modal-content label{font-family: 'Roboto', sans-serif; font-size:13px; color:#585858; font-weight:normal; display:block; text-align:; padding:10px 0; text-align:center;}
.edit-box .modal-footer .can-btn {background:#f6f6f6; border-radius:0; border:1px solid #e9e9e9; font-family: 'Roboto', sans-serif; font-size:13px; color:#5b5b5b; font-weight:normal; padding:5px 20px;}
.edit-box .modal-footer .upd-btn{background:#6d9ce5; border-radius:0; font-family: 'Roboto', sans-serif; font-size:13px; color:#fff; font-weight:normal; padding:5px }

/*=============================ONE MONTH SUBSCRIPTION====================*/
.one-mnth{max-width:601px; background:#f9f9f9; width:100%; margin:0 auto; border:1px solid #e8e8e8; border-radius:5px; padding-bottom:30px; }
.one-mnth .logo-wt-bx{background:#e42127;}
.one-mnth .logo-wt-bx img{margin:0 auto; display:block; padding-top:15px;}
.one-mnth .logo-wt-bx h3{font-family: 'Roboto', sans-serif; font-size:18px; color:#fff; font-weight:normal; text-align:center; padding:15px 0;}
.one-mnth .congr-cnt{text-align:center;}
.one-mnth .congr-cnt img{padding:15px 0;}
.one-mnth .congr-cnt h4{font-family: 'Roboto', sans-serif; font-size:20px; color:#222222; font-weight:normal; text-align:center;}
.one-mnth .congr-cnt h5{font-family: 'Roboto', sans-serif; font-size:13px; color:#e42127; font-weight:bold; text-align:center; text-transform:uppercase;}
.one-mnth .congr-cnt p{font-family: 'Roboto', sans-serif; font-size:11px; color:#7f7f7f; font-weight:normal; text-align:center;}
.one-mnth .congr-cnt h2{font-family: 'Roboto', sans-serif; font-size:18px; color:#222222; font-weight:normal; text-align:center; margin:40px 0 21px 0;}
.one-mnth .congr-frm{max-width:235px; width:100%; margin:0 auto;}
.one-mnth .congr-frm .skype-id {background:#115dd6 url(../images/skype-icon.png) no-repeat 10px center; min-height:21px; min-width:19px; font-family: 'Roboto', sans-serif; font-size:14px; color:#fff; font-weight:normal; padding-left:50px;}
.one-mnth .congr-frm .form-control::-moz-placeholder{color:#fff;}
.one-mnth .congr-frm .entr{background:#e42127;  font-family: 'Roboto', sans-serif; font-size:14px; color:#fff; font-weight:normal; padding:8px 30px; border:1px solid #e42127; }

/*=============================SEARCH A DOCTOR============================*/

.srh-dctr-btn{margin:0 auto; background:#6e9de6; font-family: 'Roboto', sans-serif; font-size:13px; color:#fff; font-weight:normal; text-align:center;
border:#6e9de6; border-radius:0; padding:8px 35px; display:block; margin-top:51px;}

/*==============================DASHBOARD=================================*/
.dsh-brd h3{font-family: 'Roboto', sans-serif; font-size:18px; color:#e21f25; font-weight:normal;}
.dsh-brd .dsh-blk{border:1px solid #dbdbdb; border-radius:5px; margin:10px 0;}
.dsh-brd h4{background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #FDFDFD),color-stop(1, #F3F3F3));
background-image: -o-linear-gradient(bottom, #FDFDFD 0%, #F3F3F3 100%); background-image: -moz-linear-gradient(bottom, #FDFDFD 0%, #F3F3F3 100%);
background-image: -webkit-linear-gradient(bottom, #FDFDFD 0%, #F3F3F3 100%); background-image: -ms-linear-gradient(bottom, #FDFDFD 0%, #F3F3F3 100%);
background-image: linear-gradient(to bottom, #FDFDFD 0%, #F3F3F3 100%); font-family: 'Roboto', sans-serif; font-size:14px; color:#414141; font-weight:500; padding:10px 15px; margin:0; border-top-left-radius:5px; border-top-right-radius:5px; border-bottom:1px solid #dbdbdb;
}
.dsh-brd .dsh-blk ul.icn-list{margin:0 auto; text-align:center; padding:86px 0 0 0;}
.dsh-brd .dsh-blk ul.icn-list li{list-style:none; display:inline-block; border:1px solid #dcdcdc; border-radius:5px; padding:10px; width:50px; height:50px; margin:0 5px;}
.dsh-brd .dsh-blk ul.icn-list li img{max-height:28px;}
.dsh-brd .dsh-blk .blk-inr{padding:12px 15px; min-height:238px;	}
.dsh-brd .dsh-blk .blk-inr p{font-family: 'Roboto', sans-serif; font-size:13px; color:#777777; font-weight:500;}
.dsh-brd .dsh-blk .blk-inr p > span{float:right;}
.dsh-brd .dsh-blk .blk-inr label {font-family: 'Roboto', sans-serif; font-size:14px; color:#414141; font-weight:500;}
.dsh-brd .dsh-blk .blk-inr .spc{padding:15px 0;}
.dsh-brd .dsh-blk .blk-inr .spc .sel{margin:0 8px; min-height:30px; min-width:40px}
.dsh-brd .dsh-blk .srch-btn{background:#ececec url(../images/search-icon.png) no-repeat 96% center; min-height:8px; min-width:10px; border:1px solid #d9d9d9; border-radius:5px; min-width:100px; text-align:left; font-family: 'Roboto', sans-serif; font-size:14px; color:#414141; font-weight:500; }
.dsh-brd .dsh-blk .blk-inr .hdng{background:#e7e5e5;}
.dsh-brd .dsh-blk .blk-inr .table{background:#f9f9f9;}

.dsh-brd .dsh-blk .view-btn{background:#ececec url(../images/View-More-icon.png) no-repeat 96% center; min-height:8px; min-width:10px; border:1px solid #d9d9d9; border-radius:5px; min-width:100px; text-align:left; font-family: 'Roboto', sans-serif; font-size:14px; color:#414141; font-weight:500;}


/*========================FOOTER=======================*/
footer{background:#e42127; min-height:56px; margin-top:30px;}
footer .ftr p{text-align:center; font-family: 'Roboto', sans-serif; font-size:10px; color:#fff; font-weight:500;  padding:25px 0; margin:0;}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 768px) {
  .row-offcanvas {  position: relative; -webkit-transition: all 0.25s ease-out; -moz-transition: all 0.25s ease-out; transition: all 0.25s ease-out; }
  .row-offcanvas-left .sidebar-offcanvas { left: -33%;}
  .row-offcanvas-left.active { left: 33%;  }
  .sidebar-offcanvas {position: absolute; top: 0; width: 33%; margin-left: 10px;}
}
/* Sidebar navigation */
.nav-sidebar { background-color: #f5f5f5; margin-right: -15px; margin-bottom: 20px; margin-left: -15px;}
.nav-sidebar > li > a { padding-right: 20px; padding-left: 20px;}
.nav-sidebar > .active > a {color: #fff; background-color: #428bca;}

/*
 * Main content
 */

.main {padding: 20px; background-color: #fff;}
@media (min-width: 768px) {
  .main {padding-right: 40px; padding-left: 40px;}
}
.main .page-header {margin-top: 0;}

.navbar-inverse{background-color:#f71c23 !important;}


#sidebar .accordion div.accordion-head:nth-child(1){background:url(../images/consult-a-doctor.png) no-repeat 13px  center; min-height:49px; min-width:43px;}
#sidebar .accordion div.accordion-head:nth-child(1):hover, #sidebar .accordion div.accordion-head.active:nth-child(1) {background:url(../images/consult-a-doctor-clr.png) no-repeat 13px  center; min-height:49px; min-width:43px;}

#sidebar .accordion div.accordion-head:nth-child(2){background:url(../images/search-a-doctor.png) no-repeat 13px  center; min-height:49px; min-width:43px;}
#sidebar .accordion div.accordion-head:nth-child(2):hover, #sidebar .accordion div.accordion-head.active:nth-child(2) {background:url(../images/search-a-doctor-clr.png) no-repeat 13px  center; min-height:49px; min-width:43px;}

#sidebar .accordion div.accordion-head:nth-child(3){background:url(../images/manage-medical-history.png) no-repeat 13px  center; min-height:49px; min-width:43px;}
#sidebar .accordion div.accordion-head:nth-child(3):hover, #sidebar .accordion div.accordion-head.active:nth-child(3) {background:url(../images/manage-medical-history-clr.png) no-repeat 13px  center; min-height:49px; min-width:43px;}

#sidebar .accordion div.accordion-head:nth-child(4){background:url(../images/make-payment.png) no-repeat 13px  center; min-height:49px; min-width:43px;}
#sidebar .accordion div.accordion-head:nth-child(4):hover, #sidebar .accordion div.accordion-head.active:nth-child(4) {background:url(../images/make-payment-clr.png) no-repeat 13px  center; min-height:49px; min-width:43px;}

#sidebar .accordion div.accordion-head:nth-child(5){background:url(../images/view-transictions.png) no-repeat 13px  center; min-height:49px; min-width:43px;}
#sidebar .accordion div.accordion-head:nth-child(5):hover, #sidebar .accordion div.accordion-head.active:nth-child(5) {background:url(../images/view-transictions-clr.png) no-repeat 13px  center; min-height:49px; min-width:43px;}

#sidebar .accordion div.accordion-head:nth-child(6){background:url(../images/consultance-history.png) no-repeat 13px  center; min-height:49px; min-width:43px;}
#sidebar .accordion div.accordion-head:nth-child(6):hover, #sidebar .accordion div.accordion-head.active:nth-child(6) {background:url(../images/consultance-history-clr.png) no-repeat 13px  center; min-height:49px; min-width:43px;}

#sidebar .accordion div.accordion-head:nth-child(7){background:url(../images/subscription.png) no-repeat 13px  center; min-height:49px; min-width:43px;}
#sidebar .accordion div.accordion-head:nth-child(7):hover, #sidebar .accordion div.accordion-head.active:nth-child(7) {background:url(../images/subscription-clr.png) no-repeat 13px  center; min-height:49px; min-width:43px;}
#sidebar .accordion div.accordion-head:nth-child(7):hover p, #sidebar .accordion div.accordion-head.active:nth-child(7) p{color:#f71c23;}

#sidebar .accordion div.accordion-head.mk-don-img{background:url(../images/make-donation.png) no-repeat 13px  center; min-height:49px; min-width:43px;}
#sidebar .accordion div.accordion-head.mk-don-img:hover, #sidebar .accordion div.accordion-head.mk-don-img.active {background:url(../images/make-donation-clr.png) no-repeat 13px  center; min-height:49px; min-width:43px;}





/*==================Deepak==========================*/

.checkbox{  font-family: 'Roboto', sans-serif; font-size: 16px; color: #6d6d6d; font-weight: normal;}

.add-subscr-pg p.crnt-plan.col-xs-12 {font-family: 'Roboto', sans-serif; font-size:16px; color:#393939; margin:0px auto 10px; text-align:center !important;}
.newBox { background: #f9fafa; clear: both; height: 215px; width: 96%; margin-left: 2%; border-radius: 5px; border: 1px solid #d8d8d8; margin-bottom: 30px; margin-top: 10px;}
 .np { background: #f1f1f1; min-height: 213px;   }
 .np img { margin: 15px  auto; display: block; }
 .np h3 { color: #393939; font-size: 17px; text-align: center; font-family: 'Roboto', sans-serif; text-transform: uppercase;}
 .np p { color: #213e6c; font-size: 12px; text-align: center; text-transform: uppercase; font-weight: bold; }
 .np p span { color: #e42127; font-size: 12px; }
 .new { margin: 0px; padding: 0px; }
 .new_left h3{ color: #393939; font-size: 16px;  font-family: 'Roboto', sans-serif; }
 .new_right h3 { font-family: 'Roboto', sans-serif; font-size:14px; color:#4581df; font-weight:500; text-transform:capitalize; }
 .new_right p { padding-top: 7px;}
 .new_left h5 { color: #393939; font-size:16px; font-family: 'Roboto', sans-serif; font-weight:400; text-transform:capitalize; }
 .line1 { height: 1px;  background: #eff0f0; margin-top: 5px; width: 100%;}
.btn{background:#6d9ce5; border:1px solid #6d9ce5; font-family: 'Roboto', sans-serif; font-size:14px; color:#fff; font-weight:normal; padding:5px 40px; margin:30px 0 0 0;  }
.btn:hover {background:#6d9ce5; color: #fff; }
 @media only screen and (min-width:980px) and (max-width:1200px){
 .accordion-head5  {  min-height: 260px; }
 .newBox {  height: 260px;}
 .np {  min-height: 260px;   }
 .btn{background:#6d9ce5; border:1px solid #6d9ce5; font-family: 'Roboto', sans-serif; font-size:14px; color:#fff; font-weight:normal; padding:5px 20px;   }
 }
 
@media only screen and (min-width:768px) and (max-width:980px){
.accordion-head5  {  min-height: 260px; }
.newBox {  height: 260px;}
.np {  min-height: 258px;  }
.btn{background:#6d9ce5; border:1px solid #6d9ce5; font-family: 'Roboto', sans-serif; font-size:14px; color:#fff; font-weight:normal; padding:5px 10px;   }
}


@media only screen and (min-width:0px) and (max-width:767px){
.add-subscr-pg p.crnt-plan.col-xs-12{text-align:center !important; display:block;}

}

